
/* BACKGROUND  */
body {
  background:white;
  color:black;
  margin-top:0;
}
/* HEADING ################################################ */
.background_2 {
  background:url("https://static.wixstatic.com/media/3ceca7_ce9764db2f4d4070bb9eafb92d8622e8.jpeg");
  color:white;
  text-align:center;
  height:auto;
  width:100%;
}
.Icons{
  float:right;
}
.Icon1{
  display:inline-block;
  padding:6px 10px 0px 0px;
}
.center_title {
  text-align:center;
  clear:both;
  margin-bottom:45px;
}
.heading-content{
  font-size:2.4rem;
}
@media (max-width: 2800px){
  .center_title{font-size:7em;}}

@media (max-width: 1000px){
  .center_title{font-size:5em;}}

@media (max-width: 600px){
  .center_title{font-size:3em;}}

@media (max-width: 600px){
  .heading-content{font-size:1.6em;}}



/* WEBSITE CONTENT ######################## */

.center{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.Choosed-Tables{
  color:#bd0003;
  font-family: 'Manjari', sans-serif;
}

.form-titles{
  font-family: 'Manjari', sans-serif;
  font-size:25px;
}

.center-submit-btn{
  justify-content:center;
  display:flex;
}
.SubmitButton{
  background:#bd0003;
  border-width:8px;
  padding:0px 0px 6px 0px;
  border-radius:28px;
  border-style: solid;
  border-color:#bd0003;
  height:auto;
  font-size:40px;
  text-align:center;
}
.SubmitButton:hover{
  border-radius:28px;
  background:white;
  border-style: solid;
  border-color:#bd0003;
  color:#bd0003
}
.SubmitButton:active{
  background:white !important;
  border-color:#980002 !important;
  color:#980002 !important;
}

/* TABLE PROPS #############################*/
.cardButton {
  font-family: 'Manjari', sans-serif;
  font-size:20px;
  color:black;
  background:white;
  width:100px;
  height:50px;
  border:none;
  border-style: solid;
  border-color:#bd0003;

}
.cardButton:hover {
  background:#bd0003;
  border-style: solid;
  border-color:#bd0003;
}
.cardButton:active {
  background:#980002 !important;
  border-color:#980002 !important;
}

.table {
  font-family: 'Manjari', sans-serif;
  text-align:center;
  padding:8px;
  margin-top:25px;
  height:auto;
  width:auto;
  border-style: solid;
  border-width:5px;
  border-radius: 75px;
  border-color:#bd0003;
  margin-left:0.5%;
  margin-right:0.5%;
}



/* WEBSITE MEDIA ###################### */
@media (min-width: 300px){
.container {
    max-width: 1050px;
}
}

@media (min-width: 600px){
.SubmitButton {
    width: 330px;
}
}
